<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fa fa-dashcube fa-3" style="font-size:22px" aria-hidden="true"></i><span> Geo Connect JIRA</span></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
   
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>

<nav class="navbar-primary" style="margin-top:5px">
<a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
<ul class="navbar-primary-menu">
<li>
  <a href="#"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">All Projects</span></a>
  <a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">JIRA Board</span></a>
  <a href="#"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">My Tasks</span></a>
  <a href="#"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Test Cases</span></a>
  <a href="#"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Dashboard</span></a>
  <a class="nav-item nav-link active" routerLink='registration'  routerLinkActive="active"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Register</span></a>
</li>
</ul>
</nav>
<div class="main-content">
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
   
  </div>
</div>
</div>





